body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-sz34 {
    font-size: 34px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 40px;
}

.title div{
    height: 3px;
    padding: 0 50px;
}

.title>div:nth-of-type(2) {
    margin-left: 10px;
}

.title div img {
    width: 100px;
    height: 1px;
}

.title h1 {
    margin: 0px;
    padding-top: 30px;
}

body #header .nav{
    position: relative;
    background-image: url(../images/work.jpg);
    height: 100vh;
    min-height: 830px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#header .subnav p,
#header .subnav h3 {
    font-size: 35px;
    margin: 0;
}

#header .subnav strong {
    color: #18cfab;
}

#header .subnav h1 {
    font-size: 76px;
    margin: 20px 0;
}

#header .subnav>div:nth-of-type(1) {
    margin: 25vh 0 15vh;
}

#header .nav .subnav{
    position: absolute;
    height: 830px;
    width: 100vw;
    top: 0;
    right: 0;
    text-align: center;
}

#header .pur-button {
    position: relative;
}

#header .pur-button>div:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    text-align: left;
}

#header .pur-button>div:nth-of-type(2) .picture {
    height: 100px;
    width: 150px;
}

#header .direc{
    display: flex;
}

#header .direc div {
    width: 60px;
    height: 60px;
    margin: 15px 30px 15px 0;
    background-color: #878787;
}
 
#header .direc img{
    width: 15px;
    height: 25px;
}

#header .direc div:hover{
    background-color: #18cfab;
}

#header .pur-button button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px -5px #ffffff;
    background-color: #18cfab;
    color: #ffffff;
    margin: 0 10px;
}

#header .pur-button button:hover {
    background-color: #00cbf6;
}

#sidebar {
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#sidebar .sub_sidebar {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#header .logo img {
    margin-top: 16px;
}

#sidebar .sub_sidebar>div {
    display: flex;
}

#sidebar .sub_sidebar ul {
    margin: 0px;
    padding: 0px;
}

#sidebar li {
    display: inline-block;
    margin: 0px;
    line-height: 100px;
}

#sidebar li:hover {
    border-bottom: 3px solid #18cfab;
}

#header li a {
    text-decoration: none;
    padding: 0 8px;
    color: white;
    font-size: 12px;
}

#header li:hover a {
    color: #18cfab;
}

#header .search img {
    margin: 39px 15px; 
    width: 22px; 
    height: 22px;
}

#header .search div {
    position: absolute;
    right: 20%;
    bottom: -45px;
    display: none;
}

#header .search input {
    height: 40px;
    width: 38vw;
}

#header .search button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px; 
    width: 30px;
    background-color: aqua;
}div
#header button img {
    margin: 0;
}

#header .search:hover div {
    display: block;
}

/*main*/

#main .uvnav {
    display: flex;
}

#main .uvnav>div {
    width: 25%;
    aspect-ratio: 32 / 25;
}

#main .uvnav img {
    display: block;
}

#main .uvnav h4 {
    text-align: center;
    text-transform:uppercase;
}

#main .uvnav .darkblue,
#main .uvnav .blue {
    display: flex;
    flex-direction: column;
}

#main .uvnav .darkblue div,
#main .uvnav .blue div {
    height: 60%;
}

#main .uvnav .darkblue {
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
}

#main .uvnav .darkblue img,
#main .uvnav .blue img {
    margin: 0 auto;
}

.uvnav .darkblue h4 {
    color: #18cfab;
    font-size: 20px;
    margin: 0;
}

.uvnav .blue h4 {
    color: white;
    font-size: 20px;
    margin: 0px;
}

#main .uvnav .blue {
    background-color: #18cfab;
    border-top: 5px solid white;
}

#main .uvnav .blue img {
    /* margin-top: 65px; */
}

#main .nav {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main .nav .subnav {
    margin-bottom: 30px;
}

#main .subnav h3 {
    height: 35px;
    font-size: 18px;
    display: flex;
}

#main .subnav a:hover {
    color: #18cfab;
}

#main .subnav p {
    font-size: 14px;
}

#main .nav img {
    margin-right: 20px;
}
#main .subnav a {
    text-decoration: none;
    color: #000;
    align-self: center;
}

#main .nav .subnav {
    width: 30%;
}

body .child {
    position: absolute;
}

/*Our company*/

#our_company {
    display: flex;
    width: 100%;
    background-image: url("../images/nen_our_company.jpg");
}

#our_company .col_2 {
    width: 50%;
    color: white;
}

#our_company .col_3 {
    width: 30%;
}

#our_company .nav {
    position: relative;
}

#our_company .subnav {
    height: 70%;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#our_company .title {
    padding: 100px 0 0 0;
    text-align: start;
}

#our_company .title div {
    padding: 0 110px;
}

#our_company .title h1 {
    padding: 0;
}

#our_company #our {
    display: flex;
    width: 100%;
}

#our_company #our h3{
    margin-right: 20px;
    border-top: 3px solid rgba(255, 255, 255, 0);
    padding-top: 5px;
    color: white;
    width: auto;
}

#our_company #our h3:hover {
    border-top: 3px solid #18cfab;
    color: #18cfab;
}

#our_company #our a {
    text-decoration: none;
}

#our_company .form {
    width: 70%; 
    height: 30px;
    border: 2px solid gray;
    margin: 10px 0;
    border-radius: 3px;
}

#our_company .F1,.F2,.F3,.F4,.F5 {
    border-radius: 1px;
}

#our_company .F1 {
    width: 70%;
    background: #9c5da5;
}

#our_company .F2 {
    width: 65%;
    background: #11b0de;
}

#our_company .F3 {
    width: 85%;
    background: #d67f7f;
}

#our_company .F4 {
    width: 90%;
    background: #20bc9d;
}

#our_company .F5 {
    width: 85%;
    background: #bb8a36;
}

#our_company .form p {
    height: 32px;
    top: -1px;
    left: 0;
    padding-left: 5px;
    margin: 0;
    line-height: 32px;
}

/*Our amazing work*/
#amazing_work {
    background-color: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
}

#amazing_work .list{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding: 0;
}

#amazing_work .list li{
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid #ebebeb;
    margin-top: 2px;
}

#amazing_work li:hover {
    border-top: 4px solid #18cfab;
    margin-top: 0;
}

#amazing_work li:hover a {
    color: #18cfab;
}

#amazing_work .list a {
    text-decoration: none;
    color: #000000;
}

#amazing_work .picture {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

#amazing_work .picture .nav {
    width: 25%;
    height: 165px;
}

#amazing_work .picture .nav:hover .sub_pic {
    display: none;
}

#amazing_work .picture .nav>img {
    border: 1px solid #ebebeb;
    width: 100%;
    height: 165px;
}

#amazing_work .picture .icon_hover {
    display: flex;
    margin: 20px 0px;
    height: 40px;
    justify-content: center;
}

#amazing_work .picture .nav {
    position: relative;
}

#amazing_work .picture .subnav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    border-top: 3px solid #18cfab;
}

#amazing_work .picture .nav:hover .subnav {
    display: block;
}

#amazing_work .subnav .center:hover {
    background-color: #18cfab;
}

#amazing_work .picture .subnav h2,#amazing_work .picture .subnav h4{
    margin: 0px;
    text-align: center;
}

#amazing_work .picture .subnav h2 {
    font-size: 16px
}

#amazing_work .picture .subnav h2 {
    font-size: 12px
}

#amazing_work .picture .icon_hover div {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border: 1px solid #18cfab;
}

#amazing_work .picture .icon_hover img {
    height: 20px;
    width: 20px;
}

#amazing_work .button {
    text-align: center;
    margin: 40px 0 50px;
}

#amazing_work .button button {
    height: 50px;
    width: 150px;
    background-color: #18cfab;
    border: none;
    border-radius: 3px;
    color: white;
}

#amazing_work .button img {
    margin: 0 10px;
}   

/* Our Services */
#Our_sevice{
    height: 490px;
}

#Our_sevice .menu {
    display: flex;
    justify-content: space-between;
}

#Our_sevice .menu .nav {
    width: 16.6667%;
    text-align: center;
    height: 100px;
}

#Our_sevice .menu .subnav {
    width: 100%;
    text-align: center;   
    background-color: #f8fcfe;
    border: 1px solid #eff0f1;
    height: 72px;
}

#Our_sevice .menu .down {
    position: relative;
    top: -3px;
    display: none;
}

#Our_sevice .menu .nav:hover .subnav {
    background-color: #18cfab;
    border: none;
    height: 74px;
}

#Our_sevice .menu .nav:hover .down {
    display: inline-block;
}

#Our_sevice>.menu>.nav:hover #Our_sevice>.content>#S1_2 {
    display: block;
}

#Our_sevice .menu .subnav p {
    margin: 0px;
    padding: 16px ;
}

#Our_sevice .content img {
    float: left;
    width: 16.6667%;
    margin-right: 15px ;
}

#Our_sevice .content p{
    font-size: 14px;
    line-height: 22px;
}

/* purchase */
#purchase {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100% 100%;
    text-align: center;
}

#purchase .sub-pur {
    padding: 50px 0 40px;
}

#purchase h1 {
    color: #18cfab;
    font-size: 32px;
}

#purchase p {
    color: #d8d8d8;
}

#purchase .pur-button button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px -5px #ffffff;
    background-color: #18cfab;
    color: #ffffff;
}

/* breaking news */
#breaking-news .nav {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

#breaking-news .nav .subnav{
    width: 23%;
    position: relative;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
}

#breaking-news .nav .subsubnav {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1 / 1;
    height: 50px; 
    background-color: #203e38;
    text-align: center;
}

#breaking-news .nav .subsubnav p {
    margin: 5px 0 0 0;
    color: white;
}

#breaking-news .subnav:hover .subsubnav {
    background-color: #18cfab;
}

#breaking-news .subnav:hover h3 {
    color: #18cfab;
}

#breaking-news .nav .subnav img {
    width: 100%;
    aspect-ratio: 23 / 20;
}

#breaking-news .nav .infor {
    border: 1px solid #ececec;
    background-color: #f8fcfe;
}

#breaking-news .infor h3,
#breaking-news .infor p{
    margin: 12px;
}

#breaking-news .infor h3 {
    font-size: 18px;
}

#breaking-news .infor p {
    font-size: 14px;
}

/*fun fact*/

#fun_fact .uvnav {
    display: flex;
    text-align: center;
}

#fun_fact .uvnav a {
    text-decoration: none;
}

#fun_fact .uvnav .darkblue,
#fun_fact .uvnav .blue {
    width: 25%;
    aspect-ratio: 16 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
}

#fun_fact .darkblue .border_darkblue {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    border: 2px solid #18cfab;
    border-radius: 50%;
}

#fun_fact .blue .border_blue {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    border: 2px solid #1c2a33;
    border-radius: 50%;
}

#fun_fact .darkblue .sub_darkblue {
    background-color: #18cfab;
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    display: flex;
    margin: auto
}

#fun_fact .blue .sub_blue {
    background-color: #1c2a33;
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    display: flex;
    margin: auto
}

#fun_fact .uvnav h2 {
    color: white;
    margin: 15px 0 0 0;
}

#fun_fact .uvnav .darkblue {
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
    color: #18cfab;
}

#fun_fact .uvnav .blue {
    background-color: #18cfab;
    border-top: 5px solid #1c2a33;
    color: #1c2a33;
}

/* pricing table*/
#pricing_table {
    height: 820px;
}

#pricing_table .nav {
    display: flex;
    text-align: center;
}

#pricing_table .nav .subnav {
    width: 25%;
    background-color: #f8fcfe;
    color: #777777;
    border: 1px solid #d4d5d5;
    border-radius: 5px;
}

#pricing_table .subnav strong {
    font-size: 30px;
}

#pricing_table .subnav .pr_offer {
    position: relative;
}

#pricing_table .subnav .price{
    font-size: 10px;
    color: white;
    background-color: #1c2a33;
    line-height: 70px;
    margin: 0px;
}
#pricing_table .price p {
    margin: 0 0 5px 0;
}

#pricing_table .subnav>p {
    line-height: 50px;
    margin: 0px;
}

#pricing_table .subnav>div,
#pricing_table .subnav>p {
    border-top: 1px solid #d4d5d5;
}

#pricing_table .nav .offer {
    border-bottom: 25px solid #2e4a5b;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 35px;
    transform: rotate(45deg);
    font-size: 12px;
    display: flex;
    position: absolute;
    top: 8px;
    right: -20px;
    color: white;
}

#pricing_table .offer p {
    margin: 7px -5px;
}

#pricing_table .subnav .btn {
    line-height: 70px;
}

#pricing_table .btn button {
    width: 60%;
    height: 45px; 
    background-color: #1c2a33;
    color: white; 
    border-radius: 5px;
}

#pricing_table .subnav:hover {
    box-shadow: 0px 0px 10px gray;
    z-index: 2;
}

#pricing_table .subnav:hover .price,
#pricing_table .subnav:hover button {
    background-color: #18cfab;
}

#pricing_table .subnav:hover button{
    border-color: #18cfab;
}

#pricing_table .subnav:hover .offer {
    border-bottom: 25px solid #18cfab;
}

#pricing_table .subnav:hover h3 {
    color: #18cfab;
}

/*Client Feedback*/
#client_feedback {
    width: 100%;
    height: 820px;
    background-color: #1c2a33;
    color: white;
}

#client_feedback .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#client_feedback .nav .double {
    color: #989c9f;
}

#client_feedback .nav .double p {
    margin: 0px;
}

#client_feedback .nav .subnav {
    margin: 20px 0;
}

#client_feedback .subnav>h3 {
    color: #18cfab;
}

#client_feedback .subnav>p {
    color: #bbbbbb;
}

#client_feedback .nav .note {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 10px solid #2b5f62 ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#client_feedback .note img {
    border-radius: 50%; 
    height: 100%;
    width: 100%;
    border: 3px solid #18cfab;
}

#client_feedback .subnav>.note {
    width: 60px;
    height: 60px;
    border: 5px solid #2b5f62;
    margin: 20px auto;
} 

#client_feedback .subnav>.note:hover {
    margin-top: 0 ;
}

#client_feedback .nav .list {
    width: 35%;
    display: flex;
    margin: 30px auto;
    min-width: 590px;
}

#client_feedback .nav .next  {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
}

#client_feedback .nav .next img {
    margin: 10px;
}

#client_feedback .nav .next:hover {
    background-color: #20bc9d;
}

/*Meet Our Team*/
#team {
    height: 650px;
}

#team .nav {
    display: flex;
    justify-content: space-between;
}

#team .subnav {
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: #2e4a5b;
    position: relative;
}

#team .subnav .link_web {
    display: flex;
}

#team .link_web div {
    width: 25%;
    height: 60px;
    display: flex;
    border-top: 1px solid white;
}

#team .link_web div~div {
    border-left: 1px solid white;
}

#team .link_web div img {
    margin: auto;
}

#team .subnav>img {
    width: 100%;
    aspect-ratio: 53 / 46;
}

#team .subnav .name_hr {
    margin: 15px;
}

#team .subnav .name_hr h3,
#team .subnav .name_hr p {
    margin: 0;
}

#team .subnav .name_hr h3 {
    margin-bottom: 5px;
    color: white;
}

#team .subnav .name_hr p {
    color: #18cfab;
}

#team .subnav:hover {
    background-color: #18cfab;
}

#team .subnav:hover p {
    color: #1c2a33;
}

#team .subnav .bg_color {
    width: 100%;
    height: 30vh;
    background-color: rgba(140, 154, 163, 0.5);
    position: absolute;
    display: none;
}

#team .subnav:hover .bg_color {
    display: flex;
}

#team .subnav .border_color {
    width: 70px;
    height: 70px; 
    border: 1px solid #18cfab; 
    border-radius: 50%;
}

#team .subnav .bg_icon {
    background-color: #f4f5f6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#team .subnav .bg_icon img {
    color: #18cfab;
}

/*purchase 2*/
#purchase_2 {
    background-image: url(../images/anh\ nen.jpg);
    height: 820px;
    text-align: center;
    position: relative;
}

#purchase_2 .topic h2, 
#purchase_2 .topic p {
    text-transform:uppercase;
    margin: 0;
}

#purchase_2 .topic h2 {
    color: white;
    font-size: 50px;
    padding-top: 100px;
}

#purchase_2 .topic p {
    color: #18cfab;
    font-size: 40px;
    margin-bottom: 30px;
}

#purchase_2 .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    float: right;
    width: 45%;
}

#purchase_2 .list>div {
    margin: 5px 0;
    color: #e1e3e4;
}

#purchase_2 .list img {
    float: left;
    margin-right: 20px;
}

#purchase_2 .list p {
    line-height: 24px;
    margin: 0;
}

#purchase_2 .pur-button button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px -5px #ffffff;
    background-color: #18cfab;
    color: #ffffff;
    margin-top: 50px;
}

#purchase_2 .logo_lap {
    width: 60%; 
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#purchase_2 .logo_lap img {
    width: 100%;height: 100%;
}

/*contact*/
#contact {
    height: 650px;
}

#contact .nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#contact .nav .subnav {
    width: 49%;
    height: 80%;
    margin-top: 5%;
}

#contact .nav .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact .subnav>img {
    width: 100%;
    height: 100%;
}

#contact .subnav .title {
    padding: 0;
    text-align: start;
}

#contact .subnav .title h1 {
    padding: 0;
    margin-bottom: 15px;
}

#contact .subnav .request {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#contact .request input {
    height: 55px;
    margin-bottom: 10px;
    border: 1px solid #d4e0de;
}

#contact .request textarea::placeholder {
    padding-top: 17px;
}

#contact .request input::placeholder,
#contact .request textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    padding-left: 17px;
}

#contact .request .heigh_input {
    font-size: 16px;
    border: 1px solid #d4e0de;
    resize: none;
}

#contact .request button {
    height: 55px; 
    background-color:#18cfab;
    margin-top: 10px;
    border-radius: 3px;
    border-bottom: 5px solid #08bf9b;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#contact .request button:hover {
    box-shadow: 0 0 5px gray;
}

/*foooter*/
.row-2,.row-3 {
    display: flex;
    flex-direction: column;
}

.col-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
}

#footer {
    height: 740px;
    background-color: #1c2b33;
    color: white;
    display: flex;
    justify-content: center;
}

#footer .contact-info p,
#footer .contact-info strong{
    margin: 0;
    font-size: 13px;
    line-height: 23px;
    color: #b2b2b2;
}

#footer  h3,
#footer  h5,
#footer  .address strong {
    margin: 0;
}

#footer .address strong,
#footer  h5 {
    font-size: 16px;
}

#footer .contact-info {
    height: 75%;
    margin: auto;
    min-height: 555px;
}

#footer .col-4>div:nth-of-type(1) {width: 22%;}
#footer .col-4>div:nth-of-type(2) {width: 33%;}
#footer .col-4>div:nth-of-type(3) {width: 22%;}
#footer .col-4>div:nth-of-type(4) {width: 17%;}

#footer .col-4>div:nth-of-type(1) h3,
#footer .col-4>div>div:nth-of-type(1) strong {
    font-size: 30px;
}
#footer .col-4>div>div:nth-of-type(1) strong {
    color: #18cfab;
}

#footer .col-4>div>div:nth-of-type(1) {
    height: 67px;
    width: 100%;
}

#footer .address>div:nth-of-type(2) {
    height: 40%;
}

#footer .address>div:nth-of-type(3) div{
    margin-bottom: 35px;
}

/* #footer .{
    height: 100%;
} */

#footer .recent_post>div+div{
    margin-bottom: 5px;
}

#footer .recent_post img {
    width: 77px;
    aspect-ratio: 7 / 6;
    float: left;
    margin: 0 15px 80px 0;
}

#footer .image_post {
    padding-bottom: 10px;
    border-bottom: 1px solid #294453;
}

#footer .image_post p {
    margin-top: 16px;
}

#footer .tags {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid #294453;
}

#footer .tags p {
    line-height: 33px;
}

#footer .tags div {
    margin: 0 7px 7px 0;
    border: 1px solid #d7d7d7;
    height: 40px;
    width: 55px;
}

#footer .tags div:hover {
    background-color: #18cfab;
}
#footer .tags div:hover p {
    color: #ffffff;
}

#footer .newsletter h3{
    margin: 30px 0;
}
#footer .newsletter p {
    width: 85%;
    margin-bottom: 15px;
}

#footer .text-btn {
    display: flex;
}

#footer .text-btn input,
#footer .text-btn button{
    height: 45px;
    padding: 0;
    border: 0;
}

#footer .text-btn input {
    width: 77%; 
    background-color: #22353f;
}

#footer .text-btn button{
    width: 45px; 
    background-color: #294453;
}

#footer .flicke-feed {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

#footer .flicke-feed img {
    width: 66px;
    height: 66px;
    margin-bottom: 15px;
}

#footer .flicke-feed .sub_1,
#footer .flicke-feed .sub_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}
 /*end*/
#end {
    height: 10vh;
    width: 100%;
    background-color: #22353f;
}

#end p {
    color: #aeaeae;
}

#end strong {
    color: #19c5a4;
}